body {
    background-image: url("background-pattern-desktop.svg");
    background-repeat: no-repeat;
    background-size: auto;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    color: hsl(292, 42%, 14%);
    font-family: "Work Sans", sans-serif;
}
.mainDiv {
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    padding: 30px;
    width: 60%;
    margin-top: 10%;
}
.click {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    border-radius: 10px;
    transition: 0.3s;
}
.click:hover {
    border-radius: 10px;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.048);
}
.click:active {
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.185);
}
.head {
    display: flex;
    font-size: 25px;
    gap: 20px;
}
p {   
    font-size: 18px;
    font-weight: 600;
}
.ansOne {
    font-weight: 400;
    font-size: 16px;
    color: hsla(292, 42%, 14%, 0.747);
    font-family: "Work Sans", sans-serif;
    line-height: 25px;

}
.faq {
    margin-top: 10px;
}
