table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
button {
  background-color: rgba(238, 44, 44, 0.897);
  color: #ffffff;
  border-radius: 40px;
  border-style: none;
  padding: 10px;
  margin: 5px;
}
button:hover {
  background-color: rgba(238, 44, 44, 0.651);
  color: #ffffff;
  border-radius: 40px;
  border-style: none;
  padding: 10px;
  margin: 5px;
  cursor: pointer;
}
button:active {
  background-color: rgba(238, 44, 44, 0.534);
  color: #ffffff;
  border-radius: 40px;
  border-style: none;
  padding: 10px;
  margin: 5px;
  cursor: pointer;
}
